<!-- ventas/templates/ventas/confirmar_eliminar_cliente.html -->

{% extends 'layouts/base.html' %}
{% block title %}Confirmar Eliminación de Cliente - {{ cliente.nombre }}{% endblock %}

{% block content %}
<h1>Confirmar Eliminación de Cliente - {{ cliente.nombre }}</h1>
<p>¿Estás seguro que deseas eliminar el cliente "{{ cliente.nombre }}"?</p>
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Eliminar</button>
  <a href="{% url 'lista_clientes' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
