<!-- En tu plantilla templates/clientes/dashboard_agente.html -->

{% extends 'layouts/base.html' %}
{% block title %}Dashboard del Agente{% endblock %}

{% block content %}
<h1>Dashboard del Agente</h1>

<!-- Listado de clientes -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ cliente.nombre_completo }}</td>
      <td>{{ cliente.telefono }}</td>
      <td>
        <a href="{% url 'editar_cliente' cliente.pk %}" class="btn btn-sm btn-primary">Editar</a>
        <a href="{% url 'eliminar_cliente' cliente.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'agregar_cliente' %}" class="btn btn-primary">Agregar Cliente</a>

{% endblock %}
