<!-- registro/templates/cliente_potencial_form.html -->

{% extends 'layouts/base.html' %}

{% block title %}Registro de Cliente Potencial{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/cliente_potencial_form.css' %}">
<div class="container">
    
    <h1>Formulario Potenciales Clientes</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrar Cliente Potencial</button>
    </form>
</div>
{% endblock %}
